*{
    padding: 0;
    margin: 0;
}

.all4{
    background-image: linear-gradient(to right top, #bb8588, #cc9d92, #dab7a0, #e5d1b4, #efebce);
    height: 500px;
    width: 100%;
    
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.experience1{
    margin-left: 400px;
    margin-top: 2%;
    margin-bottom: 0.5%;
    text-align: justify;
    justify-content: justify;

}

.title1{
    margin-left: 400px;
    text-align: justify;
    margin-bottom: 0.5%;
    justify-content: justify;
    font-weight: bold;

}

.text1{
    margin-left: 30px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
}

.title2{
    margin-left: 400px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
    font-weight: bold;
}

.text2{
    margin-left: 30px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
}

.title3{
    margin-left: 400px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
    font-weight: bold;
}

.text3{
    margin-left: 30px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
}

.title4{
    margin-left: 400px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
    font-weight: bold;
}

.text4{
    margin-left: 30px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
}

.experience-list1{
    margin-left: 450px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0.5%;
}