*{
  padding:0;
  margin:0;
}

.Nav{
    margin: auto;
    background-color:rgba(13, 162, 248, 0.872);
    height: 80px;
    width: auto;
}

.Nav-list{
    margin: auto;
    display: inline-flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.about{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: none;
    
    
}

.about a{
    text-decoration: none;
    color:black;
}

.about :hover{
    color:white;
}

.about :focus{
    color:white;
}

.work{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.work a{
    text-decoration: none;
    color:black;
}

.work :hover{
    color:white;
}

.work :focus{
    color:white;
}

.SandL{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.SandL a{
    text-decoration: none;
    color:black;
}

.SandL :hover{
    color:white;
}

.SandL :focus{
    color:white;
}

.courses{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.courses a{
    text-decoration: none;
    color:black;
}

.courses :hover{
    color:white;
}

.courses :focus{
    color:white;
}

.welcome{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;

}

.welcome a{
    text-decoration: none;
    color:black;
}

.welcome :hover{
    color:white;
}

.welcome :focus{
    color:black;
}

